In [1]:
#IST769 Midterm
#-----------------

# You will turn this file in along with screenshots as instructed on Blackboard

# YOUR NAME:Sravan Kumar Mangalagiri
# YOUR EMAIL:smangala@syr.edu
# YOUR SUID:607473409

In [2]:
import pyspark
from pyspark.sql import SparkSession

user = "mongo"
passwd = "SU2orange!"
s3_bucket = "gamestreams"
s3_server = "http://minio:9000"
s3_access_key = "minio"
s3_secret_key = "SU2orange!"
mongo_uri = f"mongodb://mongo:SU2orange!@mongo:27017/admin?authSource=admin"
server_name = "jdbc:sqlserver://mssql"
database_name = "sidearmdb"
mssql_user = "sa"
mssql_pw = "SU2orange!"
mssql_url = server_name + ";" + "databaseName=" + database_name + ";encrypt=true;trustServerCertificate=true;"

jars = [
    "org.apache.hadoop:hadoop-aws:3.1.2",
    "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1",
    "com.microsoft.azure:spark-mssql-connector_2.12:1.2.0",
    "com.microsoft.sqlserver:mssql-jdbc:12.2.0.jre11"
]

spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
        .config("spark.jars.packages",",".join(jars) )\
        .config("spark.hadoop.fs.s3a.endpoint", s3_server ) \
        .config("spark.hadoop.fs.s3a.access.key", s3_access_key) \
        .config("spark.hadoop.fs.s3a.secret.key", s3_secret_key) \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.mongodb.input.uri", mongo_uri) \
        .config("spark.mongodb.output.uri", mongo_uri) \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR") # Keeps the noise down!!!

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
com.microsoft.azure#spark-mssql-connector_2.12 added as a dependency
com.microsoft.sqlserver#mssql-jdbc added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-4e21a8f9-ff9a-4d7e-bbc9-9a26ab32e1f2;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.1.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.271 in central
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
	found com.microsoft.azure#spark-mssql-connector_2.12;1.2.0 in central
	found com.microsoft.sqlserver#mssql-jdbc;12.2.0.jre11 in central
:: resolution report :: resolve 609ms :: artifacts dl 16ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.271 from central in [default]
	com.microsoft.azure#spark-mssql-connector_2.12;1.2.0 from central in [default]
	com.microsoft.sqlserver#mssql-jdbc;12.2.0.jre11 from central in [default]
	org.apache.hadoop#hadoop-aws;3.1.2 from central in [default]
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   8   |   0   |   0   |   0   ||   8   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-4e21a8f9-ff9a-4d7e-bbc9-9a26ab32e1f2
	confs: [default]
	0 artifacts copied, 8 already retrieved (0kB/28ms)
24/03/09 05:01:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
# HOW TO READ FROM MSSQL
df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

df.show()

+---+------+------+-----+-----+------+
| id|  name|number|shots|goals|teamid|
+---+------+------+-----+-----+------+
|  1|   sam|     6|   56|   23|   101|
|  2| sarah|     1|   85|   34|   101|
|  3| steve|     2|   60|   20|   101|
|  4| stone|    13|   33|   10|   101|
|  5|  sean|    17|   26|    9|   101|
|  6|   sly|     8|   78|   15|   101|
|  7|   sol|     9|   52|   20|   101|
|  8| shree|     4|   20|    4|   101|
|  9|shelly|    15|   10|    2|   101|
| 10| swede|    10|   90|   50|   101|
| 11| jimmy|     1|  100|   50|   205|
| 12| julie|     9|   10|    0|   205|
| 13| james|     2|   45|   15|   205|
| 14|  jane|    15|   82|   46|   205|
| 15| jimmy|    16|   42|   30|   205|
| 16| julie|     8|   67|   32|   205|
| 17| james|    17|   40|   14|   205|
| 18|  jane|     3|   91|   40|   205|
| 19| jimmy|     5|   78|   22|   205|
| 20| julie|    22|   83|   19|   205|
+---+------+------+-----+-----+------+

In [4]:
df2 = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

df2.show()

+---+-------------+----------+----+------+
| id|         name|conference|wins|losses|
+---+-------------+----------+----+------+
|101|     syracuse|       acc|  11|     2|
|205|johns hopkins|     big10|   9|     4|
+---+-------------+----------+----+------+

In [5]:
# HOW TO WRITE TO MSSQL
df.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "players2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()

In [6]:
# TODO: Read the gamestream.txt from minio
s = spark.read.text("s3a://gamestreams/gamestream.txt")

s.show()
s.printSchema()

+-----------------+
|            value|
+-----------------+
|  0 59:51 101 2 0|
|  1 57:06 101 6 0|
|  2 56:13 205 8 1|
|  3 55:25 101 4 0|
|  4 55:03 101 1 1|
| 5 54:50 101 17 0|
|  6 54:14 205 8 0|
|  7 53:59 101 9 0|
|  8 53:23 101 2 0|
| 9 51:21 101 13 0|
| 10 49:55 101 1 1|
| 11 49:28 101 2 1|
|12 48:52 101 10 1|
| 13 47:52 101 4 1|
| 14 47:44 101 9 0|
| 15 46:38 101 2 0|
| 16 45:49 101 1 1|
| 17 45:31 101 4 0|
| 18 43:29 205 1 1|
| 19 41:54 205 1 1|
+-----------------+
only showing top 20 rows

root
 |-- value: string (nullable = true)

In [7]:
from pyspark.sql.functions import split

split_col = split(s['value'], ' ')
s = s.withColumn('id', split_col.getItem(0)) \
       .withColumn('time', split_col.getItem(1)) \
       .withColumn('team_id', split_col.getItem(2)) \
       .withColumn('jersey_number', split_col.getItem(3)) \
       .withColumn('goals', split_col.getItem(4))

In [8]:
s = s.drop('value')
s.show()
s.printSchema()

+---+-----+-------+-------------+-----+
| id| time|team_id|jersey_number|goals|
+---+-----+-------+-------------+-----+
|  0|59:51|    101|            2|    0|
|  1|57:06|    101|            6|    0|
|  2|56:13|    205|            8|    1|
|  3|55:25|    101|            4|    0|
|  4|55:03|    101|            1|    1|
|  5|54:50|    101|           17|    0|
|  6|54:14|    205|            8|    0|
|  7|53:59|    101|            9|    0|
|  8|53:23|    101|            2|    0|
|  9|51:21|    101|           13|    0|
| 10|49:55|    101|            1|    1|
| 11|49:28|    101|            2|    1|
| 12|48:52|    101|           10|    1|
| 13|47:52|    101|            4|    1|
| 14|47:44|    101|            9|    0|
| 15|46:38|    101|            2|    0|
| 16|45:49|    101|            1|    1|
| 17|45:31|    101|            4|    0|
| 18|43:29|    205|            1|    1|
| 19|41:54|    205|            1|    1|
+---+-----+-------+-------------+-----+
only showing top 20 rows

root
 |-- id: string (nullable = true)
 |-- time: string (nullable = true)
 |-- team_id: string (nullable = true)
 |-- jersey_number: string (nullable = true)
 |-- goals: string (nullable = true)

In [9]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType

s = s.withColumn("id", col("id").cast(IntegerType())) \
    .withColumn("team_id", col("team_id").cast(IntegerType())) \
    .withColumn("jersey_number", col("jersey_number").cast(IntegerType()))\
    .withColumn("goals", col("goals").cast(IntegerType()))

s.show()
s.printSchema()

+---+-----+-------+-------------+-----+
| id| time|team_id|jersey_number|goals|
+---+-----+-------+-------------+-----+
|  0|59:51|    101|            2|    0|
|  1|57:06|    101|            6|    0|
|  2|56:13|    205|            8|    1|
|  3|55:25|    101|            4|    0|
|  4|55:03|    101|            1|    1|
|  5|54:50|    101|           17|    0|
|  6|54:14|    205|            8|    0|
|  7|53:59|    101|            9|    0|
|  8|53:23|    101|            2|    0|
|  9|51:21|    101|           13|    0|
| 10|49:55|    101|            1|    1|
| 11|49:28|    101|            2|    1|
| 12|48:52|    101|           10|    1|
| 13|47:52|    101|            4|    1|
| 14|47:44|    101|            9|    0|
| 15|46:38|    101|            2|    0|
| 16|45:49|    101|            1|    1|
| 17|45:31|    101|            4|    0|
| 18|43:29|    205|            1|    1|
| 19|41:54|    205|            1|    1|
+---+-----+-------+-------------+-----+
only showing top 20 rows

root
 |-- id: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- team_id: integer (nullable = true)
 |-- jersey_number: integer (nullable = true)
 |-- goals: integer (nullable = true)

In [10]:
#TODO: Write the gamestream to mongodb
s.write.format("mongo")\
.mode("overwrite").option("database","sidearm").option("collection","boxscores").save()

In [11]:
s.createOrReplaceTempView("s")

In [12]:
df.createOrReplaceTempView("df")

In [13]:
# ANSWERS TO EXAM QUESTIONS
# PLACE YOUR ANSWERS BELOW TURN THIS .ipynb FILE IN ALONG WITH SCREENSHOTS AS INSTRUCTED ON BLACKBOARD

In [14]:
# Q1
# Ran in apache Drill Apache Drill
#select t.name as Team_names,t.wins,t.losses, p.name as player_names,p.shots, p.goals from mssql.`players` p join mssql.`teams` t
#on p.teamid = t.id

In [15]:
# Q2

#Ran in Apache Drill
 
#select columns[0] as id,
#columns[1] as time_stamp,
#columns[2] as team_id,
#columns[3] as jersey_number,
#columns[4] as goal
#from minio.`s3a://gamestreams/gamestream.txt`

In [16]:
# Q3
# TODO: Read the gamestream.txt from minio
s = spark.read.option("header",False).option("inferSchema",True).option("sep"," ").\
csv(f"s3a://gamestreams/gamestream.txt").\
toDF("id","time","teams_id","jersey_number","goal")
s.show(100)
s.printSchema()

+---+-----+--------+-------------+----+
| id| time|teams_id|jersey_number|goal|
+---+-----+--------+-------------+----+
|  0|59:51|     101|            2|   0|
|  1|57:06|     101|            6|   0|
|  2|56:13|     205|            8|   1|
|  3|55:25|     101|            4|   0|
|  4|55:03|     101|            1|   1|
|  5|54:50|     101|           17|   0|
|  6|54:14|     205|            8|   0|
|  7|53:59|     101|            9|   0|
|  8|53:23|     101|            2|   0|
|  9|51:21|     101|           13|   0|
| 10|49:55|     101|            1|   1|
| 11|49:28|     101|            2|   1|
| 12|48:52|     101|           10|   1|
| 13|47:52|     101|            4|   1|
| 14|47:44|     101|            9|   0|
| 15|46:38|     101|            2|   0|
| 16|45:49|     101|            1|   1|
| 17|45:31|     101|            4|   0|
| 18|43:29|     205|            1|   1|
| 19|41:54|     205|            1|   1|
| 20|41:09|     101|            1|   1|
| 21|41:03|     205|            5|   1|
| 22|41:02|     101|           13|   0|
| 23|40:47|     101|           15|   0|
| 24|40:20|     101|            1|   1|
| 25|39:09|     101|            9|   0|
| 26|38:06|     101|            4|   0|
| 27|38:03|     101|           13|   1|
| 28|37:48|     205|           15|   1|
| 29|37:31|     205|           15|   1|
| 30|37:02|     101|           15|   0|
| 31|36:31|     205|            2|   0|
| 32|34:33|     101|            2|   0|
| 33|34:22|     101|           15|   1|
| 34|33:15|     101|            4|   0|
| 35|32:23|     205|            9|   0|
| 36|31:38|     101|            8|   0|
| 37|30:45|     101|            6|   0|
| 38|30:31|     101|           10|   0|
| 39|30:26|     101|           13|   0|
| 40|30:07|     101|            8|   0|
| 41|29:04|     205|           17|   0|
| 42|27:56|     205|           16|   0|
| 43|25:56|     205|           22|   0|
| 44|25:26|     205|            2|   0|
| 45|25:20|     205|            9|   0|
| 46|25:17|     101|           13|   0|
| 47|24:57|     101|            6|   1|
| 48|23:57|     101|            6|   1|
| 49|22:36|     205|            9|   0|
| 50|20:48|     205|           17|   0|
| 51|20:43|     205|            9|   0|
| 52|20:22|     101|            1|   1|
| 53|19:04|     205|            3|   0|
| 54|18:24|     101|            1|   0|
| 55|17:23|     205|            1|   1|
| 56|15:29|     101|            9|   0|
| 57|13:18|     101|            8|   0|
| 58|13:12|     101|           10|   0|
| 59|13:07|     205|            2|   1|
| 60|12:32|     205|           17|   1|
| 61|11:33|     101|            2|   0|
| 62|09:05|     101|            2|   1|
| 63|07:42|     101|           13|   0|
| 64|07:09|     101|           17|   0|
| 65|03:41|     205|            5|   0|
| 66|03:24|     101|            9|   0|
| 67|03:22|     101|            1|   0|
| 68|00:42|     101|           13|   0|
| 69|00:17|     101|            8|   0|
| 70|00:00|       0|            0|   0|
+---+-----+--------+-------------+----+

root
 |-- id: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- teams_id: integer (nullable = true)
 |-- jersey_number: integer (nullable = true)
 |-- goal: integer (nullable = true)

In [17]:
df.createOrReplaceTempView("players")
s.createOrReplaceTempView("gamestream")
df2.createOrReplaceTempView("teams")

In [18]:
# Q4

query = '''
with stats as (
select p.teamid as teamid,p.number as player_number,count(g.goal) as shots,sum(g.goal) as goals from players p join gamestream g on p.teamid=g.teams_id and p.number = g.jersey_number
group by p.teamid,p.number
order by p.teamid
),
game 
as ( 
select teams_id, sum(goal) AS team_goals
from gamestream
group by teams_id
)
select s.teamid,s.player_number,s.shots,s.goals,g.team_goals from stats s join game g on s.teamid = g.teams_id
order by s.teamid
'''

p = spark.sql(query)
p.show()

+------+-------------+-----+-----+----------+
|teamid|player_number|shots|goals|team_goals|
+------+-------------+-----+-----+----------+
|   101|           13|    7|    1|        14|
|   101|           17|    2|    0|        14|
|   101|            9|    5|    0|        14|
|   101|            6|    4|    2|        14|
|   101|            8|    4|    0|        14|
|   101|            4|    5|    1|        14|
|   101|            2|    7|    2|        14|
|   101|           10|    3|    1|        14|
|   101|           15|    3|    1|        14|
|   101|            1|    8|    6|        14|
|   205|           15|    2|    2|         9|
|   205|            2|    3|    1|         9|
|   205|            1|    3|    3|         9|
|   205|            8|    2|    1|         9|
|   205|           17|    3|    1|         9|
|   205|           16|    1|    0|         9|
|   205|            9|    4|    0|         9|
|   205|           22|    1|    0|         9|
|   205|            3|    1|    0|         9|
|   205|            5|    2|    1|         9|
+------+-------------+-----+-----+----------+

In [19]:
# Q5
query='''
with stats as (
select p.teamid as teamid,p.number as player_number,count(g.goal) as shots,sum(g.goal) as goals
from players p
left join gamestream g on p.teamid = g.teams_id and p.number = g.jersey_number
group by p.teamid,p.number
),
game as ( select teams_id,sum(goal) AS team_goals
from gamestream
group by teams_id
),
latest_time as (
select max(id) as event_id,min(time) as timestamp
from gamestream
)
select l.event_id,l.timestamp,s.teamid,s.player_number as jersey_number,s.shots,coalesce(s.goals, 0) as goals,g.team_goals
from stats s join game g on s.teamid = g.teams_id
    cross join latest_time l
order by s.teamid,s.player_number
'''

q = spark.sql(query)

q.show()

+--------+---------+------+-------------+-----+-----+----------+
|event_id|timestamp|teamid|jersey_number|shots|goals|team_goals|
+--------+---------+------+-------------+-----+-----+----------+
|      70|    00:00|   101|            1|    8|    6|        14|
|      70|    00:00|   101|           10|    3|    1|        14|
|      70|    00:00|   101|           13|    7|    1|        14|
|      70|    00:00|   101|           15|    3|    1|        14|
|      70|    00:00|   101|           17|    2|    0|        14|
|      70|    00:00|   101|            2|    7|    2|        14|
|      70|    00:00|   101|            4|    5|    1|        14|
|      70|    00:00|   101|            6|    4|    2|        14|
|      70|    00:00|   101|            8|    4|    0|        14|
|      70|    00:00|   101|            9|    5|    0|        14|
|      70|    00:00|   205|            1|    3|    3|         9|
|      70|    00:00|   205|           15|    2|    2|         9|
|      70|    00:00|   205|           16|    1|    0|         9|
|      70|    00:00|   205|           17|    3|    1|         9|
|      70|    00:00|   205|            2|    3|    1|         9|
|      70|    00:00|   205|           22|    1|    0|         9|
|      70|    00:00|   205|            3|    1|    0|         9|
|      70|    00:00|   205|            5|    2|    1|         9|
|      70|    00:00|   205|            8|    2|    1|         9|
|      70|    00:00|   205|            9|    4|    0|         9|
+--------+---------+------+-------------+-----+-----+----------+

In [20]:
# Q6
query = '''
WITH stats AS (
    SELECT 
        p.teamid AS teamid, 
        p.number AS player_number, 
        COUNT(g.goal) AS shots, -- Assuming each row in gamestream represents a shot
        SUM(g.goal) AS goals -- Summing up the 'goal' column to get total goals
    FROM 
        players p
        left JOIN gamestream g ON p.teamid = g.teams_id AND p.number = g.jersey_number
    GROUP BY 
        p.teamid, p.number
),
game AS ( 
    SELECT 
        teams_id, 
        SUM(goal) AS team_goals
    FROM 
        gamestream
    GROUP BY 
        teams_id
)
SELECT 
    s.teamid,
    s.player_number,
    s.shots,
    coalesce(s.goals,0) as goals,
    g.team_goals,
    p.name AS player_name,
    p.shots as Player_on_shots,
    p.goals as Player_goals,
    t.name AS team_name,
    t.conference,
    t.wins,
    t.losses,
    (t.wins - t.losses) as score
FROM 
    stats s
    JOIN game g ON s.teamid = g.teams_id
    JOIN players p ON s.teamid = p.teamid AND s.player_number = p.number
    JOIN teams t ON s.teamid = t.id
ORDER BY 
    s.teamid, s.player_number
'''

p = spark.sql(query)
p.show()

+------+-------------+-----+-----+----------+-----------+---------------+------------+-------------+----------+----+------+-----+
|teamid|player_number|shots|goals|team_goals|player_name|Player_on_shots|Player_goals|    team_name|conference|wins|losses|score|
+------+-------------+-----+-----+----------+-----------+---------------+------------+-------------+----------+----+------+-----+
|   101|            1|    8|    6|        14|      sarah|             85|          34|     syracuse|       acc|  11|     2|    9|
|   101|           10|    3|    1|        14|      swede|             90|          50|     syracuse|       acc|  11|     2|    9|
|   101|           13|    7|    1|        14|      stone|             33|          10|     syracuse|       acc|  11|     2|    9|
|   101|           15|    3|    1|        14|     shelly|             10|           2|     syracuse|       acc|  11|     2|    9|
|   101|           17|    2|    0|        14|       sean|             26|           9|     syracuse|       acc|  11|     2|    9|
|   101|            2|    7|    2|        14|      steve|             60|          20|     syracuse|       acc|  11|     2|    9|
|   101|            4|    5|    1|        14|      shree|             20|           4|     syracuse|       acc|  11|     2|    9|
|   101|            6|    4|    2|        14|        sam|             56|          23|     syracuse|       acc|  11|     2|    9|
|   101|            8|    4|    0|        14|        sly|             78|          15|     syracuse|       acc|  11|     2|    9|
|   101|            9|    5|    0|        14|        sol|             52|          20|     syracuse|       acc|  11|     2|    9|
|   205|            1|    3|    3|         9|      jimmy|            100|          50|johns hopkins|     big10|   9|     4|    5|
|   205|           15|    2|    2|         9|       jane|             82|          46|johns hopkins|     big10|   9|     4|    5|
|   205|           16|    1|    0|         9|      jimmy|             42|          30|johns hopkins|     big10|   9|     4|    5|
|   205|           17|    3|    1|         9|      james|             40|          14|johns hopkins|     big10|   9|     4|    5|
|   205|            2|    3|    1|         9|      james|             45|          15|johns hopkins|     big10|   9|     4|    5|
|   205|           22|    1|    0|         9|      julie|             83|          19|johns hopkins|     big10|   9|     4|    5|
|   205|            3|    1|    0|         9|       jane|             91|          40|johns hopkins|     big10|   9|     4|    5|
|   205|            5|    2|    1|         9|      jimmy|             78|          22|johns hopkins|     big10|   9|     4|    5|
|   205|            8|    2|    1|         9|      julie|             67|          32|johns hopkins|     big10|   9|     4|    5|
|   205|            9|    4|    0|         9|      julie|             10|           0|johns hopkins|     big10|   9|     4|    5|
+------+-------------+-----+-----+----------+-----------+---------------+------------+-------------+----------+----+------+-----+

In [21]:
#Q7
query = '''
WITH stats AS (
    SELECT 
        p.teamid AS teamid,
        p.number AS player_number,
        COUNT(g.goal) AS shots,
        SUM(g.goal) AS goals,
        CASE WHEN COUNT(g.goal) > 0 THEN SUM(g.goal) / COUNT(g.goal) ELSE 0 END AS pct
    FROM players p
    LEFT JOIN gamestream g ON p.teamid = g.teams_id AND p.number = g.jersey_number
    GROUP BY p.teamid, p.number
),
game AS ( 
    SELECT 
        teams_id,
        SUM(goal) AS team_goals
    FROM gamestream
    GROUP BY teams_id
),
latest_time AS (
    SELECT 
        MAX(id) AS event_id,
        MIN(time) AS timestamp
    FROM gamestream
),
home_team_goals AS (
    SELECT 
        team_goals
    FROM game
    WHERE teams_id = 101
),
away_team_goals AS (
    SELECT 
        team_goals
    FROM game where (teams_id != 101) and (teams_id != 0) 
)
SELECT 
    l.event_id,
    l.timestamp,
    s.teamid,
    s.player_number AS jersey_number,
    s.shots,
    COALESCE(s.goals, 0) AS goals,
    g.team_goals,
    p.name AS player_name,
    p.shots as Player_on_shots,
    p.goals as Player_goals,
    t.name AS team_name,
    t.conference,
    t.wins,
    t.losses,
    CASE 
        WHEN s.teamid = 101 THEN 'Home' 
        ELSE 'Away'
    END AS team_type,
    CASE 
    WHEN s.teamid = 101 AND (SELECT team_goals FROM home_team_goals) > (SELECT team_goals FROM away_team_goals) THEN 'Winning'
    WHEN s.teamid = 101 AND (SELECT team_goals FROM home_team_goals) < (SELECT team_goals FROM away_team_goals) THEN 'Losing'
    WHEN s.teamid != 101 AND (SELECT team_goals FROM away_team_goals) > (SELECT team_goals FROM home_team_goals) THEN 'Winning'
    WHEN s.teamid != 101 AND (SELECT team_goals FROM away_team_goals) < (SELECT team_goals FROM home_team_goals) THEN 'Losing'
    ELSE 'Draw'
    END AS status,
    s.pct
FROM stats s
JOIN game g ON s.teamid = g.teams_id
JOIN players p ON s.teamid = p.teamid AND s.player_number = p.number
JOIN teams t ON s.teamid = t.id
CROSS JOIN latest_time l
ORDER BY s.teamid, s.player_number;
'''

q = spark.sql(query)
q.show()

+--------+---------+------+-------------+-----+-----+----------+-----------+---------------+------------+-------------+----------+----+------+---------+-------+-------------------+
|event_id|timestamp|teamid|jersey_number|shots|goals|team_goals|player_name|Player_on_shots|Player_goals|    team_name|conference|wins|losses|team_type| status|                pct|
+--------+---------+------+-------------+-----+-----+----------+-----------+---------------+------------+-------------+----------+----+------+---------+-------+-------------------+
|      70|    00:00|   101|            1|    8|    6|        14|      sarah|             85|          34|     syracuse|       acc|  11|     2|     Home|Winning|               0.75|
|      70|    00:00|   101|           10|    3|    1|        14|      swede|             90|          50|     syracuse|       acc|  11|     2|     Home|Winning| 0.3333333333333333|
|      70|    00:00|   101|           13|    7|    1|        14|      stone|             33|          10|     syracuse|       acc|  11|     2|     Home|Winning|0.14285714285714285|
|      70|    00:00|   101|           15|    3|    1|        14|     shelly|             10|           2|     syracuse|       acc|  11|     2|     Home|Winning| 0.3333333333333333|
|      70|    00:00|   101|           17|    2|    0|        14|       sean|             26|           9|     syracuse|       acc|  11|     2|     Home|Winning|                0.0|
|      70|    00:00|   101|            2|    7|    2|        14|      steve|             60|          20|     syracuse|       acc|  11|     2|     Home|Winning| 0.2857142857142857|
|      70|    00:00|   101|            4|    5|    1|        14|      shree|             20|           4|     syracuse|       acc|  11|     2|     Home|Winning|                0.2|
|      70|    00:00|   101|            6|    4|    2|        14|        sam|             56|          23|     syracuse|       acc|  11|     2|     Home|Winning|                0.5|
|      70|    00:00|   101|            8|    4|    0|        14|        sly|             78|          15|     syracuse|       acc|  11|     2|     Home|Winning|                0.0|
|      70|    00:00|   101|            9|    5|    0|        14|        sol|             52|          20|     syracuse|       acc|  11|     2|     Home|Winning|                0.0|
|      70|    00:00|   205|            1|    3|    3|         9|      jimmy|            100|          50|johns hopkins|     big10|   9|     4|     Away| Losing|                1.0|
|      70|    00:00|   205|           15|    2|    2|         9|       jane|             82|          46|johns hopkins|     big10|   9|     4|     Away| Losing|                1.0|
|      70|    00:00|   205|           16|    1|    0|         9|      jimmy|             42|          30|johns hopkins|     big10|   9|     4|     Away| Losing|                0.0|
|      70|    00:00|   205|           17|    3|    1|         9|      james|             40|          14|johns hopkins|     big10|   9|     4|     Away| Losing| 0.3333333333333333|
|      70|    00:00|   205|            2|    3|    1|         9|      james|             45|          15|johns hopkins|     big10|   9|     4|     Away| Losing| 0.3333333333333333|
|      70|    00:00|   205|           22|    1|    0|         9|      julie|             83|          19|johns hopkins|     big10|   9|     4|     Away| Losing|                0.0|
|      70|    00:00|   205|            3|    1|    0|         9|       jane|             91|          40|johns hopkins|     big10|   9|     4|     Away| Losing|                0.0|
|      70|    00:00|   205|            5|    2|    1|         9|      jimmy|             78|          22|johns hopkins|     big10|   9|     4|     Away| Losing|                0.5|
|      70|    00:00|   205|            8|    2|    1|         9|      julie|             67|          32|johns hopkins|     big10|   9|     4|     Away| Losing|                0.5|
|      70|    00:00|   205|            9|    4|    0|         9|      julie|             10|           0|johns hopkins|     big10|   9|     4|     Away| Losing|                0.0|
+--------+---------+------+-------------+-----+-----+----------+-----------+---------------+------------+-------------+----------+----+------+---------+-------+-------------------+

In [22]:
q.createOrReplaceTempView("box")

In [23]:
q.createOrReplaceTempView("box")
query='''
select * from box
'''
box = spark.sql(query)

box.show()

+--------+---------+------+-------------+-----+-----+----------+-----------+---------------+------------+-------------+----------+----+------+---------+-------+-------------------+
|event_id|timestamp|teamid|jersey_number|shots|goals|team_goals|player_name|Player_on_shots|Player_goals|    team_name|conference|wins|losses|team_type| status|                pct|
+--------+---------+------+-------------+-----+-----+----------+-----------+---------------+------------+-------------+----------+----+------+---------+-------+-------------------+
|      70|    00:00|   101|            1|    8|    6|        14|      sarah|             85|          34|     syracuse|       acc|  11|     2|     Home|Winning|               0.75|
|      70|    00:00|   101|           10|    3|    1|        14|      swede|             90|          50|     syracuse|       acc|  11|     2|     Home|Winning| 0.3333333333333333|
|      70|    00:00|   101|           13|    7|    1|        14|      stone|             33|          10|     syracuse|       acc|  11|     2|     Home|Winning|0.14285714285714285|
|      70|    00:00|   101|           15|    3|    1|        14|     shelly|             10|           2|     syracuse|       acc|  11|     2|     Home|Winning| 0.3333333333333333|
|      70|    00:00|   101|           17|    2|    0|        14|       sean|             26|           9|     syracuse|       acc|  11|     2|     Home|Winning|                0.0|
|      70|    00:00|   101|            2|    7|    2|        14|      steve|             60|          20|     syracuse|       acc|  11|     2|     Home|Winning| 0.2857142857142857|
|      70|    00:00|   101|            4|    5|    1|        14|      shree|             20|           4|     syracuse|       acc|  11|     2|     Home|Winning|                0.2|
|      70|    00:00|   101|            6|    4|    2|        14|        sam|             56|          23|     syracuse|       acc|  11|     2|     Home|Winning|                0.5|
|      70|    00:00|   101|            8|    4|    0|        14|        sly|             78|          15|     syracuse|       acc|  11|     2|     Home|Winning|                0.0|
|      70|    00:00|   101|            9|    5|    0|        14|        sol|             52|          20|     syracuse|       acc|  11|     2|     Home|Winning|                0.0|
|      70|    00:00|   205|            1|    3|    3|         9|      jimmy|            100|          50|johns hopkins|     big10|   9|     4|     Away| Losing|                1.0|
|      70|    00:00|   205|           15|    2|    2|         9|       jane|             82|          46|johns hopkins|     big10|   9|     4|     Away| Losing|                1.0|
|      70|    00:00|   205|           16|    1|    0|         9|      jimmy|             42|          30|johns hopkins|     big10|   9|     4|     Away| Losing|                0.0|
|      70|    00:00|   205|           17|    3|    1|         9|      james|             40|          14|johns hopkins|     big10|   9|     4|     Away| Losing| 0.3333333333333333|
|      70|    00:00|   205|            2|    3|    1|         9|      james|             45|          15|johns hopkins|     big10|   9|     4|     Away| Losing| 0.3333333333333333|
|      70|    00:00|   205|           22|    1|    0|         9|      julie|             83|          19|johns hopkins|     big10|   9|     4|     Away| Losing|                0.0|
|      70|    00:00|   205|            3|    1|    0|         9|       jane|             91|          40|johns hopkins|     big10|   9|     4|     Away| Losing|                0.0|
|      70|    00:00|   205|            5|    2|    1|         9|      jimmy|             78|          22|johns hopkins|     big10|   9|     4|     Away| Losing|                0.5|
|      70|    00:00|   205|            8|    2|    1|         9|      julie|             67|          32|johns hopkins|     big10|   9|     4|     Away| Losing|                0.5|
|      70|    00:00|   205|            9|    4|    0|         9|      julie|             10|           0|johns hopkins|     big10|   9|     4|     Away| Losing|                0.0|
+--------+---------+------+-------------+-----+-----+----------+-----------+---------------+------------+-------------+----------+----+------+---------+-------+-------------------+

In [24]:
#Q7
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, collect_list, struct, when, first, lit


eventid =box.select("event_id").first()[0]
timestamp_value = box.select("timestamp").first()[0]

team = box.groupBy("teamid", "conference", "wins", "losses", "team_type", "team_goals") \
  .agg(
    collect_list(
      struct(col("jersey_number").alias("id"), 
             col("player_name").alias("name"), 
             col("shots").cast(IntegerType()).alias("shots"), col("goals").cast(IntegerType()).alias("goals"), col("pct"))
    ).alias("players")
  ) \
  .withColumnRenamed("team_goals", "score") \
  .withColumn("status", when(col("team_type") == "Home", "Winning").otherwise("Losing")) \
  .groupBy("team_type") \
  .agg(first("teamid").alias("teamid"), 
       first("conference").alias("conference"), 
       first("wins").alias("wins"), 
       first("losses").alias("losses"), 
       first("score").cast(IntegerType()).alias("score"), 
       first("status").alias("status"), 
       first("players").alias("players"))


team = team.groupBy().pivot("team_type").agg(
    first(struct("teamid", "conference", "wins", "losses", "score", "status", "players")).alias("team")
)

data = team.select(
    lit(eventid).alias("eventid").alias("_id"),
    lit(timestamp_value).alias("timestamp"),
        col("Home").alias("home"),
        col("Away").alias("away")
    )

In [25]:
data.printSchema()

root
 |-- _id: integer (nullable = false)
 |-- timestamp: string (nullable = false)
 |-- home: struct (nullable = true)
 |    |-- teamid: integer (nullable = true)
 |    |-- conference: string (nullable = true)
 |    |-- wins: integer (nullable = true)
 |    |-- losses: integer (nullable = true)
 |    |-- score: integer (nullable = true)
 |    |-- status: string (nullable = true)
 |    |-- players: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- shots: integer (nullable = false)
 |    |    |    |-- goals: integer (nullable = false)
 |    |    |    |-- pct: double (nullable = true)
 |-- away: struct (nullable = true)
 |    |-- teamid: integer (nullable = true)
 |    |-- conference: string (nullable = true)
 |    |-- wins: integer (nullable = true)
 |    |-- losses: integer (nullable = true)
 |    |-- score: integer (nullable = true)
 |    |-- status: string (nullable = true)
 |    |-- players: array (nullable = true)
 |    |    |-- element: struct (containsNull = false)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- shots: integer (nullable = false)
 |    |    |    |-- goals: integer (nullable = false)
 |    |    |    |-- pct: double (nullable = true)

In [26]:
data.write.format("mongo")\
.mode("overwrite").option("database","sidearm").option("collection","boxscores").save()

In [27]:
print(data.columns)

['_id', 'timestamp', 'home', 'away']

In [28]:
# Q8
data.write.format("mongo")\
.mode("overwrite").option("database","sidearm").option("collection","boxscores").save()

In [29]:
# Q9

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, collect_list, struct, when, first, lit

s = spark.read.option("header",False).option("inferSchema",True).option("sep"," ").\
csv(f"s3a://gamestreams/gamestream.txt").\
toDF("id","time","teams_id","jersey_number","goal")

df.createOrReplaceTempView("players")
s.createOrReplaceTempView("gamestream")
df2.createOrReplaceTempView("teams")
query='''
WITH stats AS (
    SELECT 
        p.teamid AS teamid,
        p.number AS player_number,
        COUNT(g.goal) AS shots,
        SUM(g.goal) AS goals,
        CASE WHEN COUNT(g.goal) > 0 THEN SUM(g.goal) / COUNT(g.goal) ELSE 0 END AS pct
    FROM players p
    LEFT JOIN gamestream g ON p.teamid = g.teams_id AND p.number = g.jersey_number
    GROUP BY p.teamid, p.number
),
game AS ( 
    SELECT 
        teams_id,
        SUM(goal) AS team_goals
    FROM gamestream
    GROUP BY teams_id
),
latest_time AS (
    SELECT 
        MAX(id) AS event_id,
        MIN(time) AS timestamp
    FROM gamestream
),
home_team_goals AS (
    SELECT 
        team_goals
    FROM game
    WHERE teams_id = 101
),
away_team_goals AS (
    SELECT 
        team_goals
    FROM game
    WHERE (teams_id != 101) and (teams_id != 0)  
)
SELECT 
    l.event_id,
    l.timestamp,
    s.teamid,
    s.player_number AS jersey_number,
    s.shots,
    COALESCE(s.goals, 0) AS goals,
    g.team_goals,
    p.name AS player_name,
    p.shots as Player_on_shots,
    p.goals as Player_goals,
    t.name AS team_name,
    t.conference,
    t.wins,
    t.losses,
    CASE 
        WHEN s.teamid = 101 THEN 'Home' 
        ELSE 'Away'
    END AS team_type,
    CASE 
    WHEN s.teamid = 101 AND (SELECT team_goals FROM home_team_goals) > (SELECT team_goals FROM away_team_goals) THEN 'Winning'
    WHEN s.teamid = 101 AND (SELECT team_goals FROM home_team_goals) < (SELECT team_goals FROM away_team_goals) THEN 'Losing'
    WHEN s.teamid != 101 AND (SELECT team_goals FROM away_team_goals) > (SELECT team_goals FROM home_team_goals) THEN 'Winning'
    WHEN s.teamid != 101 AND (SELECT team_goals FROM away_team_goals) < (SELECT team_goals FROM home_team_goals) THEN 'Losing'
    ELSE 'Draw'
    END AS status,
    s.pct
FROM stats s
JOIN game g ON s.teamid = g.teams_id
JOIN players p ON s.teamid = p.teamid AND s.player_number = p.number
JOIN teams t ON s.teamid = t.id
CROSS JOIN latest_time l
ORDER BY s.teamid, s.player_number;

'''
q = spark.sql(query)
q.createOrReplaceTempView("box")
query='''
select * from box
'''
box = spark.sql(query)

eventid =box.select("event_id").first()[0]
timestamp_value = box.select("timestamp").first()[0]

team = box.groupBy("teamid", "conference", "wins", "losses", "team_type", "team_goals") \
  .agg(
    collect_list(
      struct(col("jersey_number").alias("id"), 
             col("player_name").alias("name"), 
             col("shots").cast(IntegerType()).alias("shots"), col("goals").cast(IntegerType()).alias("goals"), col("pct"))
    ).alias("players")
  ) \
  .withColumnRenamed("team_goals", "score") \
  .withColumn("status", when(col("team_type") == "Home", "Winning").otherwise("Losing")) \
  .groupBy("team_type") \
  .agg(first("teamid").alias("teamid"), 
       first("conference").alias("conference"), 
       first("wins").alias("wins"), 
       first("losses").alias("losses"), 
       first("score").cast(IntegerType()).alias("score"), 
       first("status").alias("status"), 
       first("players").alias("players"))


team = team.groupBy().pivot("team_type").agg(
    first(struct("teamid", "conference", "wins", "losses", "score", "status", "players")).alias("team")
)

data = team.select(
    lit(eventid).alias("eventid").alias("_id"),
    lit(timestamp_value).alias("timestamp"),
        col("Home").alias("home"),
        col("Away").alias("away")
    )

data.write.format("mongo")\
.mode("overwrite").option("database","sidearm").option("collection","boxscores").save()

In [30]:
# Q10
#Runnined in apache Drill
#select * from mongo.`sidearm`.`boxscores` where `timestamp` = '00:00'

In [47]:
# Q11
query = '''
with home_team AS (
    select
        t.id,
        t.name,
        t.conference,
        case 
            when b.status = 'Winning' then t.wins + 1
            else t.wins
        end as wins,
        case 
            when b.status = 'Losing' then t.losses + 1
            else t.losses
        end as losses
    from teams t
    join box b on t.id = b.teamid
    where t.id = 101
),
away_team as (
    select
        t.id,
        t.name,
        t.conference,
        case 
            when t.id != 101 and b.status = 'Winning' then t.wins + 1
            else t.wins
        end AS wins,
        case 
            when t.id != 101 and b.status = 'Losing' then t.losses + 1
            else t.losses
        end AS losses
    from teams t
    join box b on t.id = b.teamid
    where t.id != 101
)
select 
    distinct t.id, 
    t.name, 
    t.conference, 
    coalesce(h.wins, a.wins, t.wins) as Wins, 
    coalesce(h.losses, a.losses, t.losses) as Losses
from teams t
left join home_team h ON t.id = h.id
left join away_team a ON t.id = a.id;
'''
 
teams2 = spark.sql(query) 
teams2.show()

+---+-------------+----------+----+------+
| id|         name|conference|Wins|Losses|
+---+-------------+----------+----+------+
|101|     syracuse|       acc|  12|     2|
|205|johns hopkins|     big10|   9|     5|
+---+-------------+----------+----+------+

In [48]:
# Q12
teams2.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "teams2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()

In [33]:
# Q13
query = '''
select p.id,p.name,
(p.shots + b.shots) as shots, 
(p.goals + b.goals) as goals,
p.teamid
from box b join players p on b.jersey_number = p.id and b.teamid = p.teamid
where b.timestamp = '00:00'
'''

update_players = spark.sql(query) 
update_players.show()

+---+------+-----+-----+------+
| id|  name|shots|goals|teamid|
+---+------+-----+-----+------+
|  2| sarah|   92|   36|   101|
| 15| jimmy|   44|   32|   205|
|  9|shelly|   15|    2|   101|
|  8| shree|   24|    4|   101|
|  1|   sam|   64|   29|   101|
| 16| julie|   68|   32|   205|
|  4| stone|   38|   11|   101|
|  6|   sly|   82|   17|   101|
| 17| james|   43|   15|   205|
| 10| swede|   93|   51|   101|
+---+------+-----+-----+------+

In [34]:
# Q14
update_players.createOrReplaceTempView("update_players")

update_players.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "players2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()

In [49]:
# Q15
#select * from mssql.`teams2` p
#select * from mssql.`players2` p